body {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

.current.temperature .label
{
    font-size: large;
}

.current.temperature .value
{
    font-size: xx-large;
}

.temperature.history .chart-container
{
    
}

/***********************/

.center-wrapper
{
    text-align:center;
}

.center-content-container
{
    display:inline-block;
}